/*********************************************************
    BASIC SETTINGS
*********************************************************/

body {
    font-family: sans-serif;
    margin: auto;
    width: 1366px;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #686868;
}

.background-img {
    background: rgba(0, 26, 255, 0.342);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

    overflow: hidden;

    display: flex;
    justify-content: space-between;
}

@media (max-width: 1300px) {
    .background-img {
        overflow: scroll !important;
    }
}

/*********************************************************
    CERTIFICATE CSS
*********************************************************/

.certificate {
    margin: 5px 30px 0px;
}

.certificate .certificate-header {
    position: fixed;
    text-align: center;
    background: rgba(0, 0, 0, 0.521);
    color: white; 
    top: 0;
    right: 0;
    left: 0;
    right: 0px;
    margin: 0;
    padding: 10px;
}

/*********************************************************
    RIGHT SIDE BAR CSS
*********************************************************/

.right-side-bar {
    width: 300px;
    float: right;
    top: 0;
    bottom: 0;
    background: #ffffff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.25);
}

.right-side-bar .certificate-recipent, .about-course {
    height: 87px;
    width: 280px;
    margin: 0px auto;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.right-side-bar .certificate-recipent span.user-name {
    position: relative;
    top: -25px;
    left: 10px;
    color: rgb(49, 47, 47);
}

.right-side-bar .about-course {
    height: 380px !important;
}

.right-side-bar .about-course .course-image {
    width: 107%;
}

.right-side-bar .buttons {
    display: flex;
    justify-content: center;
}

.right-side-bar .buttons .btn {
    width: 150px;
    border: none;
    outline: none;
    background: #6034DC;
    color: white;
    cursor: pointer;
    box-shadow: 0px 0px 5px 1px grey;
}

.right-side-bar .buttons .btn i {
    float: left;
}

footer {
    position: fixed;
    bottom: 0;
    right: 300px;
    left: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.521);
    width: 100%;
    color: white;
    padding: 5px;
}
